<ul class="sidebar">
  <p>Inventory App</p>
  <li><a href="/category" class="<%= currentUrl !== '/category/1' && currentUrl.includes('/category') ? 'active-link' : '' %>">categories</a></li>
  <li><a href="/item" class="<%= currentUrl.includes('/item') ? 'active-link' : '' %>">inventory</a></li>
  <li><a href="/category/1" class="<%= currentUrl === '/category/1' ? 'active-link': '' %>">no category</a></li>
</ul>
