<ul style="
  grid-column: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
">
  <li>categories</li>
  <li>inventory</li>
  <li>no category</li>
</ul>
