<div style="display: flex; justify-content: space-between;">
  <a href="/">Inventory App</a>
  <div>
    <a href="/item/new">Add Item</a>
    <a href="/category/new">Add Category</a>
  </div>
 
</div>