<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Category</title>
</head>
<body>
  <%- include('../topbar'); %>
  <h1>Create Category</h1>
  <form action="/category/new" method="post">
    <label for="category">Category Name:</label>
    <input type="text" name="category" id="category">
    <button type="submit">ADD CATEGORY</button>
  </form>
  <ul>
    <% errors.forEach(error => { %>
      <li><%= error.msg %></li>
    <% })%>
  </ul>

</body>
</html>