<form action="/category/delete/<%= category.id %>" method="post">
  <h1><%= category.name %></h1>
  <p>Deleting this category will move all of the <span><%= length %></span> item(s) inside it to "No Category".
  </p>
  <button type="submit">DELETE FOREVER</button>
</form>