<h1>
  <%= category.name %>
</h1>
<div class="form-view">
  <p style="margin: 0px;" >Deleting this category will move all of the <span>
      <%= length %>
    </span> item(s) inside it to "No Category".
  </p>
  <div style="display: flex; flex-direction: column; gap: 10px; margin-top: 6px;">
    <form action="/category/delete/<%= category.id %>" method="post" class="form-box">
      <button class="delete-btn" type="submit">DELETE CATEGORY</button>
    </form>
    <form action="/category/delete-all/<%= category.id %>" method="post" class="form-box">
      <button class="delete-btn" type="submit">DELETE WITH ITEMS</button>
    </form>
    <button class="cancel-btn" type="button" onclick="history.back()">CANCEL</button>
  </div>
  
</div>