<h1>Create Category</h1>
<form action="/category/new" method="post" class="form-box">
  <div>
    <label for="category">Name:</label>
    <input type="text" name="name" id="category" placeholder="Ex. Footwear, Electronics, Toys, etc...">
    <button type="submit">ADD CATEGORY</button>
  </div>
</form>
<%- include('../errors', { errors }); %>