@import url('https://fonts.googleapis.com/css2?family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

:root {
  --link-background: rgb(168, 168, 168);
  --box-background: white;
  --body-background: rgb(233, 233, 233);
}

body,html {
  margin: 0;
  padding: 0;
  font-family: 'TikTok Sans', sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  padding: 3px 5px;
  width: fit-content;
}

a:hover {
  background-color: var(--link-background);
}

.content {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: auto;
  height: 100%;
}

.sidebar {
  grid-column: 1;
  grid-row: 1/-1;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
  align-items: center;
  padding-top: 20px;
  font-size: 1.1em;
}
#categories-link, #inventory-link, #no-category-link {
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  display: inline-block;
  height: 35px;
}

#categories-link {
  background-image: url('/images/tag-2.svg');
  background-size: 60%;
  
}

#inventory-link {
  background-image: url('/images/inventory.svg');
  background-size: 70%;
  
}

#no-category-link {
  background-image: url('/images/no-tag.svg');
  background-size: 65%;
}

.sidebar div {
  display: flex;
  align-items: center;
  margin-bottom: 17px;
}

.sidebar img {
  width: 35px;
  height: 35px;
}

.sidebar h1 {
  font-size: 1.2em;
  margin: 10px 0px;
}

.body {
  grid-column: 2;
  grid-row: 1/-1;
  background-color: var(--body-background);
  padding: 0px 15px;
  
}

.start {
  position: absolute;
  left: 60%;
  top: 40%;
  width: 60%;
  transform: translate(-50%, -50%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.active-link {
  background-color: var(--link-background);
}

.action-box {
  font-size: 1.6em;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  margin: 0;
  background-color: var(--box-background);
}


.items {
  list-style: none;
  display: flex;
  padding: 10px 0px;
  align-items: center;
}


.items-grid {
  list-style: none;
  display: grid;
  align-items: center;
  grid-template-columns: 38% 18% 16% 10% auto;
}

.seperator {
  border-bottom: 1px solid var(--body-background);
}

.header-row {
  padding: 0px 14px;
  background-color: var(--box-background);
  border-bottom: 1px solid gray;
}

.search-list {
  position: absolute;
  background-color: var(--box-background);
  list-style-type: none;
  padding: 0px;
  width: 185px;
  z-index: 1;
  box-shadow: 0px 5px 22px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 5px 22px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 5px 22px 0px rgba(0, 0, 0, 0.4);
}

.search-list li {
  padding: 5px 10px;
  
}

.form-box {
  background-color: var(--box-background);
  padding: 10px;
}

.form-box div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
}

.form-box .delete-info {
  max-width: 100%;
}


.form-box input {
  font-size: 0.8em;
}

.add-update-btn, .delete-btn, .cancel-btn {
  font-size: 0.9em;
  max-width: 400px;
  color: white;
  border-radius: 7px;
  border: none;
  padding: 7px;
  font-weight: bold;
  width: 50%;
  text-align: center;
}

.add-update-btn {
  background-color: rgb(0, 174, 255);
}

.add-update-btn:hover {
  background-color: rgb(0, 145, 212);
}

.delete-btn {
  background-color: red;
}

.delete-btn:hover {
  background-color: rgb(187, 0, 0);
}

.cancel-btn {
  background-color: var(--link-background);
}

.cancel-btn:hover {
  background-color: rgb(90, 90, 90);
}

.error-list {
  list-style: none;
  padding: 0px 10px;
  color: red;
}

.dropdown
.search {
  border-radius: 7px;
  width: 45%;
  font-size: 0.9em;
  height: 26px;
  border: 1px solid var(--link-background);
}